<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">welcome back {{ user.name }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider show-for-small"></li>
      <li>
        <a href="/users/sign_out">Sign Out</a>
      </li>
    </ul>
  </section>
</nav>

<div>
  <ul>
    <li ng-repeat="article in articles | orderBy:publishedDate:false">
      <div class="article-listing">
        <div class="large-11 small-11 columns">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div data-ng-hide="ShowShareBox">
                <a ng-click="showShareBox=!showShareBox">Share With A Friend</a>
              </div>
              <div data-ng-show="showShareBox">
                <form name="shareForm">
                  <label> Share With A Friend</label>
                  <input type="text" placeholder="email or username" data-ng-model="newShare.recipient" is-user-or-email="">
                  <input type="button" class="btn" value="Cancel" data-ng-click="showShareBox=!showShareBox">
                  <input type="submit" class="btn" ng-click="showShareBox=!showShareBox;share()" ng-disabled="shareForm.$invalid" value="Share">
                </form>
              </div>

              <h2 class="panel-title">
                <a href="{{ article.link }}" title="{{ article.title }}">
                  {{ article.title }}
                </a>
              </h2>
            </div>
            <div class="panel-body">
              <p>
                {{ article.publishedDate | date:'m/d/yy h:mm:ss a' }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>